{% extends 'relogioponto/base.html' %}

{% block content %}
  <h1>Lista de Registros de Ponto</h1>
  <table>
    <thead>
      <tr>
        <th>Funcionário</th>
        <th>Entrada</th>
        <th>Saída</th>
        <th>Horas Trabalhadas</th>
        <th>Data</th>
        <th>Saldo Diário</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for registro in registro_ponto %}
        <tr>
          <td>{{ registro.funcionario }}</td>
          <td>{{ registro.entrada }}</td>
          <td>{{ registro.saida }}</td>
          <td>{{ registro.horas_trabalhadas }}</td>
          <td>{{ registro.data }}</td>
          <td>{{ registro.saldo_diario }}</td>
          <td>
            <a href="{% url 'edita_registro_ponto' registro.pk %}">Editar</a> | 
            <a href="{% url 'deleta_registro_ponto' registro.pk %}" onclick="return confirm('Tem certeza que deseja excluir este registro de ponto?')">Excluir</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="7">Não há registros de ponto cadastrados.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p><a href="{% url 'novo_registro_ponto' %}" class="button">Novo Registro de Ponto</a></p>
  <a href="{% url 'home' %}" class="button">Voltar para Home</a>
  
{% endblock %}
