{% extends 'base.html' %}

{% block content %}
  <h1>Lista de Férias</h1>
  <table>
    <thead>
      <tr>
        <th>Funcionário</th>
        <th>Data de Início</th>
        <th>Data de Fim</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for ferias in ferias %}
        <tr>
          <td>{{ ferias.funcionario }}</td>
          <td>{{ ferias.data_inicio }}</td>
          <td>{{ ferias.data_fim }}</td>
          <td>
            <a href="{% url 'edita_ferias' ferias.pk %}">Editar</a>
            <a href="{% url 'deleta_ferias' ferias.pk %}">Deletar</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">Não há férias cadastradas.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'nova_ferias' %}" class="button">Nova Férias</a>
  <a href="{% url 'home' %}" class="button">Voltar para Home</a>
{% endblock %}
